# Logs
*.log
logs/
**/logs/

# Archivos temporales
*.tmp
*.swp
*.bak
*.cache

# Directorios de configuración
data/
config/
**/config/*.xml
**/config/*.json
**/config/*.pid

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de entorno
.env
.env.*

# Directorios de dependencias
node_modules/
venv/
__pycache__/
*.pyc

# Archivos de IDE
.idea/
.vscode/
*.swp
*.swo

# Archivos de respaldo
*.bak
*.backup

# Archivos de base de datos
**/*.db
**/*.db-shm
**/*.db-wal
**/*.pid

# Carpetas de medios
services/radarr/movies/
services/sonarr/tv/
services/lidarr/music/
services/plex/media/
