# Configuración general
TZ=Europe/Madrid
PUID=1000
PGID=1000

# Configuración de Transmission
TRANSMISSION_USER=admin
TRANSMISSION_PASS=admin # Cambiar en producción
TRANSMISSION_WHITELIST=127.0.0.1,192.168.*.* # IPs permitidas
TRANSMISSION_PEER_PORT=51413
TRANSMISSION_DOWNLOAD_DIR=/downloads/complete
TRANSMISSION_INCOMPLETE_DIR=/downloads/incomplete
TRANSMISSION_WATCH_DIR=/downloads/torrents

# Configuración de red
MULTIMEDIA_NETWORK=multimedia_network 