# Configuración de Komga
KOMGA_PORT=8080
KOMGA_URL_BASE=
KOMGA_DATABASE=/config/database.sqlite
KOMGA_LIBRARIES=/config/libraries
KOMGA_TEMP_DIR=/config/temp
KOMGA_LOG_LEVEL=INFO
KOMGA_AUTH=true
KOMGA_ADMIN_USER=admin
KOMGA_ADMIN_PASSWORD=changeme

# Ruta donde se almacenarán los mangas
MANGAS_PATH=/data/media/mangas

# Configuración adicional
TZ=America/El_Salvador
PUID=1000
PGID=1000

# Red externa para comunicación entre servicios
MULTIMEDIA_NETWORK=multimedia_network 